<html>

<head>
  <script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
  <title>De-Stress IIIT-YONO</title>
</head>

<body>
  <<audio autoplay loop>
		<source src="{{url_for('static', filename='main_audio.mp3')}}" type="audio/mpeg">
	</audio>
  <a-scene>
    <a-sphere color="#76D7EA" position="10 0 -15" rotation="0 -90 0" scale="2 2 2"
      animation="property: object3D.position.x; to: 2; dir: alternate; dur: 1500; loop: true"></a-sphere>

    <a-sphere color="#D98695" position="-10 0 -15" rotation="0 -90 0" scale="2 2 2"
      animation="property: object3D.position.x; to: -2; dir: alternate; dur: 1500; loop: true"></a-sphere>

    <a-sphere color="#C46210" position="0 10 -15" rotation="0 -90 0" scale="2 2 2"
      animation="property: object3D.position.y; to: 2; dir: alternate; dur: 1500; loop: true"></a-sphere>

    <a-sphere color="#8D4E85" position="0 -10 -15" rotation="0 -90 0" scale="2 2 2"
      animation="property: object3D.position.y; to: -2; dir: alternate; dur: 1500; loop: true"></a-sphere>

    <a-sphere color="#8FD400" position="0 0 -15" rotation="0 -90 0" scale="2 2 2"
      animation="property: object3D.position.z; to: -50; dir: alternate; dur: 1500; loop: true"></a-sphere>

    <a-sky
      src="https://media.istockphoto.com/photos/retro-needles-abstract-background-picture-id1133353672?b=1&k=20&m=1133353672&s=170667a&w=0&h=BukTqpS0Bw1iogkzTkeECoixVFPq-Chq0SLq-z8XoIE=">
    </a-sky>
  </a-scene>
</body>

</html>