<!DOCTYPE html>
<html style="height: 100%;">

<head>
	<meta charset="UTF-8">
	<title>De-Stress IIIT-YONO</title>
</head>

<body style="background-image: url(/static/destress_main_background.webp); background-repeat: no-repeat; background-size: 100% 100%;">

	<h1 style="font-size: 70px; color: yellow; text-align: center;">The De-Stress Academy</h1>
	<br>
	<p style="font-size: xx-large; color: yellow; text-align: center;">
		Well well, I see that you have finally stumbled upon the magical lands of The De-Stress Academy<br><br>
		Let us help you brew up the perfect mix of de-stressing herbs to refill your mana lost in the fight against
		assignments.<br>
	</p>
	<p style="font-size: 40px; color: yellow; text-align: center;">
		Select your choice to proceed
	</p>
	<p style="color: yellow; font-size: xx-large; text-align: center;">
		<a href="{{ url_for('destress_video1') }}"
			style="color: yellow; text-decoration: none; border-style: dotted; border-radius: 4px;">Potion 1</a>
		<a href="{{ url_for('destress_video2') }}"
			style="color: yellow; text-decoration: none; border-style: dotted; border-radius: 4px;">Potion 2</a>
		<a href="{{ url_for('destress_video3') }}"
			style="color: yellow; text-decoration: none; border-style: dotted; border-radius: 4px;">Potion 3</a>
		<a href="{{ url_for('destress_video4') }}"
			style="color: yellow; text-decoration: none; border-style: dotted; border-radius: 4px;">Potion 4</a>
		<a href="{{ url_for('destress_video5') }}"
			style="color: yellow; text-decoration: none; border-style: dotted; border-radius: 4px;">Potion 5</a>
		<a href="{{ url_for('destress_video6') }}"
			style="color: yellow; text-decoration: none; border-style: dotted; border-radius: 4px;">Potion 6</a>
		<a href="{{ url_for('destress_video7') }}"
			style="color: yellow; text-decoration: none; border-style: dotted; border-radius: 4px;">Potion 7</a>
		<a href="{{ url_for('destress_video8') }}"
			style="color: yellow; text-decoration: none; border-style: dotted; border-radius: 4px;">Potion 8</a>
	</p>
	<audio autoplay loop>
		<source src="{{url_for('static', filename='main_audio.mp3')}}" type="audio/mpeg">
	</audio>
</body>

</html>