<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <title>Navigator Result</title>
</head>

<body style="background-image: url(/static/background.png); background-repeat: no-repeat; background-size: 100% 100%;">
    <p style="color: #99FFCC;font-size: 70px; text-align: center; padding-top: 6%;"><strong>Instructions</strong></p>
    <p style="color: #99FFCC;font-size: 50px; text-align: center; padding-top: 6%;">You have almost reached your destination. Look for it & Enjoy.....</p>
    <form style="padding-left: 38%; padding-top: 10%;" action="/" method="GET">
        <input
            style="font-size: 50px; background-color: #99FFCC; color: #008000; border-color: #99FFCC; border-style: ridge; border-width: thick;"
            type="submit" value="Go to Home Page">
    </form>
</body>

</html>