<!DOCTYPE html>
<html style="height: 100%;">

<head>
	<meta charset="UTF-8">
	<title>IIIT-YONO</title>
</head>

<body style="background: linear-gradient(to right, #a60530 -20%, #240b36 90%); position: fixed">
	<h1 style="text-align: center; font-size: 60px; color: salmon; padding-top: 3%; padding-bottom: 10;">IIIT YONO</h1>
	<p style="text-align: center; font-size: 25px; color: salmon; border-radius: 16px; padding-bottom: 5%;">
		Do we sound familiar? Well, someone on campus stole our branding (remember the guy infront of C-6 😉)<br><br>
		Anyways, time for intros (ringing any bells?):<br><br>
		Namaste Sir, my name is IIIT YONO. I belong to the 'website' branch. I am from Hyderabad, Telangana. My hobbies
		are helping people navigate around the campus, help TAs assign slots for live evals and sprinkle some Nimbu Pani
		from JC to de-stress you. <br>
		Now for the most important question, "maine zindagi mein kya ukhadda hai?"<br>
		"maine poora Vindhya navigate kar liya, wo bhi akele 😎"<br>
		And being part of the college, I'm still learning. Abhi assignment hai, baad mein baad karte hain
	</p>
	<p style="font-size: 40px; color: salmon; text-align: center; padding-top: 8%;">
		<a href="{{ url_for('navigate_form') }}"
			style="color: salmon; text-decoration: none; border-style: dotted; border-radius: 4px;">Vindhya
			Navigator</a>
		<a href="{{ url_for('destress') }}"
			style="color: salmon; text-decoration: none; border-style: dotted; border-radius: 4px;">The De-Stress
			Academy</a>
		<a href="{{ url_for('evals') }}"
			style="color: salmon; text-decoration: none; border-style: dotted; border-radius: 4px;">Eval Slot
			Manager</a>
	</p>
</body>

</html>